<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaleGhent.NINA.GroundStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DaleGhent.NINA.GroundStation.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IFTTTWebhookKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PushoverAppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PushoverUserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpHostPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpFromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpDefaultRecipients" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramChatId" serializeAs="String">
                <value />
            </setting>
            <setting name="PushoverDefaultNotificationSound" serializeAs="String">
                <value>Pushover</value>
            </setting>
            <setting name="PushoverDefaultFailureSound" serializeAs="String">
                <value>Siren</value>
            </setting>
            <setting name="PushoverDefaultNotificationPriority" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PushoverDefaultFailurePriority" serializeAs="String">
                <value>High</value>
            </setting>
            <setting name="MqttBrokerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttBrokerPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="MqttUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttBrokerUseTls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MqttDefaultTopic" serializeAs="String">
                <value />
            </setting>
            <setting name="MqttClientId" serializeAs="String">
                <value>NINA</value>
            </setting>
        </DaleGhent.NINA.GroundStation.Properties.Settings>
    </userSettings>
</configuration>