<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaleGhent.NINA.GroundStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DaleGhent.NINA.IFTTT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DaleGhent.NINA.GroundStation.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IFTTTWebhookKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PushoverAppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PushoverUserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpHostPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpFromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpDefaultRecipients" serializeAs="String">
                <value />
            </setting>
        </DaleGhent.NINA.GroundStation.Properties.Settings>
        <DaleGhent.NINA.IFTTT.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IFTTTWebHookKey" serializeAs="String">
                <value />
            </setting>
        </DaleGhent.NINA.IFTTT.Properties.Settings>
    </userSettings>
</configuration>